@import variables
@import basic_formating


@font-face 
  font-family: 'p'
  src: url('./fonts/Neoneon-3zaD6.otf') 
  font-weight: bold
  font-style: normal

@font-face 
  font-family: 'l'
  src: url('./fonts/Kopeek20-Regular.woff') format("woff")
  font-weight: bold
  font-style: normal
@font-face 
  font-family: 'm'
  src: url('./fonts/Kopeek20-Regular.woff') format("woff")
  font-weight: bold
  font-style: normal
@font-face 
  font-family: 'ttf'
  src: url('./fonts/Clip.woff') 
  font-weight: bold
  font-style: normal
@font-face 
  font-family: 'k'
  src: url('./fonts/MonumentExtended-Ultrabold.woff2') format("woff2")
  font-weight: bold
  font-style: normal
@font-face 
  font-family: 'a'
  src: url('./fonts/MonumentExtended-Regular.woff2') format("woff2")
  font-weight: bold
  font-style: normal







  // general styling





body
  overflow-x: hidden
.root
  overflow-x: hidden
  width: 100%
.container3
  max-width: 800px
  margin: 0 auto
.yellow
  color: $y5
.white
  color: $w
.red
  color: $o5
.green
  color: $gr6

.blue
  color: blue

// Background and overlay of loader page
.loader-main
  overflow: hidden
  position: relative
  width: 100%
  height: 100vh
  .loader-bg

    height: 100vh
    width: 100vw
    position: fixed
    z-index: -50
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: $b url('./images/blur-close-up-code-computer-546819.jpg') no-repeat center center/cover
    // background: $b url('./images/movie.png') 
    .loader-overlay
      // background: rgba(0,0,0,.96)
      background: rgba(0,0,0,.9) url('./images/movie.png') 
      width: 100%
      height: 100%
  
  // loader content
  .loader-content
    overflow: hidden
    margin-top: 25vh
    text-align: center
    color: $w
    .loader-wt
      overflow-x: hidden
      color: $o5
      font-size: 50px
      font-family: 'k'
      
    .bar-wrapper
      margin-top: 5vh
      position: relative
      padding: 20px
      display: inline-block
      // animation: stag 10s ease infinite
      // border: 3px solid red
      .bar-rec
        box-shadow: inset 0px 2px 20px rgba(255,0,9,.6), inset -5px -5px 20px rgba(255,0,9,.6), 5px 5px 20px rgba(255,0,9,.6), -5px -5px 20px rgba(255,0,9,.6) 
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        width: 100%
        height: 100%
        border: 5px solid $o5
        border-radius: 7px
        animation: stag 7s ease 1s infinite

      .bar-element
        font-size: 40px
        font-family: 'ttf'
        .bar
          color: $t4
          text-shadow: 0px 0px 5px rgba(48, 200, 214,1), 0px 0px 10px rgba(48, 200, 214,1), 0px 0px 15px rgba(48, 200, 214,1), 0px 0px 20px rgba(48, 200, 214,1), 0px 0px 25px rgba(48, 200, 214,1), 0px 0px 30px rgba(48, 200, 214,1)
          &:nth-child(3)
            
            animation: stag 6s ease 1s infinite
          &:nth-child(6)
            
            animation: stag 6s ease infinite
          &:nth-child(8)
            
            animation: stag 6s ease 2s infinite
          // &:nth-child(10)
            
          //   animation: stag 6s ease 4s infinite
          &:nth-child(12)
            
            animation: stag 6s ease 6s infinite
          &:nth-child(16)
            animation: stag 6s ease infinite
          &:nth-child(19)
            animation: stag 6s ease 1s infinite
          &:nth-child(21)
            animation: stag 6s ease 6s infinite
          // &:nth-child(23)
          //   animation: stag 6s ease 4s infinite
          &:nth-child(25)
            animation: stag 6s ease 2s infinite
    .just-a-second
      color: $w
      margin-top: 10vh
      margin-bottom: 10vh
      font-family: 'l'
      font-size: 25px

// portfolio styling
.portfolio-main
  position: relative
  color: $w
  background: $b
  overflow-x: hidden
  width: 100%
  min-height: 100vh
  .portfolio-bg
    overflow: hidden
    height: 100vh
    width: 100vw
    position: fixed
    z-index: 1
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: url('./images/movie.png')
    
 
    
  .portfolio-overlay
    
    position: fixed
    z-index: 2
    top: 0
    right: 0
    bottom: 0
    background: url('./images/Rhone.png') no-repeat center center/cover
    opacity: .1
    
    height: 100%
    
    width: 100%
    // background styling end
  .portfolio-nav
    // box-shadow: 0px 2px 5px $t4
    height: 50px
    background: rgba(0,0,0,.9)
    // border: 1px solid red
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 20
    .container1
      max-width: 80%
      margin: 0 auto
      display: flex
      height: 100%
      align-items: center
      justify-content: space-between
      .brand
        position: relative
        top: -2px
        align-self: center
        .brand-link
          font-family: 'a'
          color: $w
          font-size: 14px
      .nav-social-icons
        
        display: flex
        width: auto
        .twitter
          margin-right: 5px
          svg
            width: 25px 
            color: $w
            height: 25px
            &:hover
              color: $o5
        .whatsapp
          margin-right: 5px
          svg
            width: 25px 
            color: $w
            height: 25px
            &:hover
              color: $o5
        .linkedin
          
          margin-right: 5px
          svg
            width: 25px 
            color: $w
            height: 25px
            &:hover
              color: $o5
        .github
          svg
            width: 25px 
            height: 25px
            color: $w
            &:hover
              color: $o5
        
  
  .showcase
    position: relative
    z-index: 3
    margin-top: 25vh
    .container2
      max-width: 90%
      margin: 0 auto
      .flex
        
        display: flex
        .right
          padding-left: 2%
          text-align: right
          font-family: 'k'
          order: 2
          flex-basis: 60%
          .showcase-firstline
            
          .showcase-name
            margin-top: 2vh
            
            position: relative
            padding: 12px
            display: inline-block
            .showcase-rec
              box-shadow: inset 0px 2px 20px rgba(255,0,9,.6), inset -5px -5px 20px rgba(255,0,9,.6), 5px 5px 20px rgba(255,0,9,.6), -5px -5px 20px rgba(255,0,9,.6) 
              position: absolute
              top: 0
              right: 0
              left: 0
              bottom: 0
              width: 100%
              height: 100%
              border: 3px solid $r5
              border-radius: 7px
              animation: stag 7s ease 4s infinite
            .showcase-element
              font-size: 40px
              font-family: 'ttf'
              .show
                color: $t4
                text-shadow: 0px 0px 5px rgba(48, 200, 214,1), 0px 0px 10px rgba(48, 200, 214,1), 0px 0px 15px rgba(48, 200, 214,1), 0px 0px 20px rgba(48, 200, 214,1), 0px 0px 25px rgba(48, 200, 214,1), 0px 0px 30px rgba(48, 200, 214,1)
                &:nth-child(1)
                  
                  animation: stag 6s ease 1s infinite
                &:nth-child(3)
                  
                  animation: stag 6s ease 3s infinite
                &:nth-child(5)
                  
                  animation: stag 6s ease infinite
                &:nth-child(8)
                  
                  animation: stag 6s ease 2s infinite
                &:nth-child(10)
                  
                  animation: stag 6s ease 4s infinite
          .nigeria  
            margin-top: 2vh
            
            .green
              color: $gr6
          .build
            
            
          .buttons
            
            margin-top: 2vh
            font-family: 'm'
            .btn1,.btn2
              display: inline-block
              font-weight: bold
              font-size: 16px
              padding: 10px 15px
              border: none
              border-radius: 5px
            .btn1
              background: $o5
              margin-right: 10px
              color: $w
              &:hover
                
                background: $o7
            .btn2
              color: $o5
              background: $w
              &:hover
                
                background: $g3
                
        .left
          z-index: 9
          position: relative
          margin-top: 2vh
          font-family: 'p'
          order: 1
          flex-basis: 40%
          .front,.dev
            position: relative
            z-index: 10
            
            font-size: 80px
            transform: rotate(270deg)
          .front
            color: $o5
            position: relative
            left: -40%
          .dev 
            left: -20%
          .left-pics
            border-radius: 5px
            position: absolute
            width: 60%
            top: 20%
            left: 40%
  .portfolio-about
    font-family: 'k'
    text-align: right
    margin-top: 22vh
    .container3
      
      max-width: 900px
      margin: 0 auto
      .about-heading
        margin-bottom: 3vh
        font-size: 27px
      .about-content
        font-family: 'l'
        color: $w
        letter-spacing: 1.1px
        line-height: 1.8
        font-size: 20px
        margin-bottom: 2vh
  
  .lang
    z-index: 3
    margin-top: 10vh
    position: relative
    
    .container3
      max-width: 800px
      margin: 0 auto
      .lang-heading
        margin-bottom: 3vh
        text-align: right
        font-family: 'k'
        font-size: 25px
      .grid
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
        grid-gap: 10px
        .know-icons
          background: $w
          border-radius: 10px
          .know-icons-png
            margin: 0 auto
            width: 100px
            height: 100px
  .tools
    margin-top: 10vh
    position: relative
    z-index: 3
    
    .container3
      max-width: 800px
      margin: 0 auto
      .tools-heading
        margin-bottom: 3vh
        text-align: right
        font-family: 'k'
        font-size: 31px
      .grid
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
        grid-gap: 10px
        .know-icons
          background: $w
          border-radius: 10px
          .know-icons-png
            margin: 0 auto
            width: 100px
            height: 100px
  .projects
    margin-top: 10vh
    position: relative
    z-index: 3
    .container3
      .project-heading
        text-align: right
        margin-bottom: 5vh
        font-family: 'k'
        font-size: 25px
      .project
        position: relative
        border: 6px solid $gr4
        border-left-color: $p4
        border-bottom-color: $y4
        border-right-color: $r5
        border-radius: 10px
        

        .project-name
          
          font-family: 'k'
          font-size: 40px
          color: $w
          text-shadow: 5px 5px 1px $o5, -5px -5px 1px $o5
          position: absolute
          right: -10%
          top: 10%
        .project-img-wrap
          overflow: hidden
          height: 50vh
          .project-img
            width: 100%
      .visit
        display: inline-block
        margin-top: 2vh
        margin-bottom: 5vh
        margin-left: 15px
        border: none
        background: $o5
        color: $w
        padding: 7px 10px
        font-family: 'm'
        border-radius: 5px
        box-shadow: 0px 2px 6px rgba(255,255,255,.3)
        &:hover
          color: $w
          background: $o7 

        
  .why
    margin-top: 10vh
    position: relative
    z-index: 3
    .container3
      max-width: 900px
      .why-i
        margin-bottom: 3vh
        text-align: right
        font-family: 'k'
        font-size: 25px
      .why-list
        text-align: right
        letter-spacing: 1.3px
        font-size: 20px
        font-family: 'l'
        line-height: 1.8

  .avail
    text-align: right
    margin-top: 10vh
    position: relative
    z-index: 3
    .container3
      max-width: 900px
      .avail-heading
        margin-bottom: 3vh
        text-align: right
        font-family: 'k'
        font-size: 25px
      .avail-content
        margin-bottom: 2vh
        letter-spacing: 1.3px
        font-size: 20px
        font-family: 'l'
        line-height: 1.8

  .contact
    margin-bottom: 4vh
    margin-top: 10vh
    position: relative
    z-index: 3
    .container3
      .contact-heading
        margin-bottom: 3vh
        text-align: right
        font-family: 'k'
        font-size: 25px
      .email,.tel
        text-align: right
        color: $w
        line-height: 2.2
        font-size: 20px
        letter-spacing: 1.5px
        font-family: 'l'
  .thank
    margin-top: 5vh
    margin-bottom: 4vh
    .container3
      .thank-content
        text-align: center
        font-size: 40px
        font-family: 'ttf'
        .show
          color: $t4
          text-shadow: 0px 0px 5px rgba(48, 200, 214,1), 0px 0px 10px rgba(48, 200, 214,1), 0px 0px 15px rgba(48, 200, 214,1), 0px 0px 20px rgba(48, 200, 214,1), 0px 0px 25px rgba(48, 200, 214,1), 0px 0px 30px rgba(48, 200, 214,1)
          &:nth-child(1)
            
            animation: stag 6s ease 1s infinite
          &:nth-child(3)
            
            animation: stag 6s ease 1s infinite
          &:nth-child(8)
            
            animation: stag 6s ease infinite
          &:nth-child(8)
            
            animation: stag 6s ease 2s infinite
          
          &:nth-child(12)
            
            animation: stag 6s ease 6s infinite
          &:nth-child(16)
            animation: stag 6s ease infinite
          &:nth-child(19)
            animation: stag 6s ease 1s infinite
          &:nth-child(21)
            animation: stag 6s ease 6s infinite
          &:nth-child(22)
            animation: stag 6s ease 6s infinite

// Staggering animation
@keyframes stag
  5%
    opacity: .5
  10%
    opacity: .35
  15%
    opacity: .10
  20%
    opacity: .45
  25%
    opacity: .25
  30%
    opacity: .35
  35%
    opacity: 0.7
  40%
    opacity: 0.9
  45%
    opacity: 0.5
  50%
    opacity: 0
  55%
    opacity: .9
  60%
    opacity: .8
  65%
    opacity: .2
  70%
    opacity: .1
  75%
    opacity: .75
  80%
    opacity: .9
  85%
    opacity: .3
  90%
    opacity: .15
  95%
    opacity: .17
  100%
    opacity: 1





// loader animation
.lds-roller 
  margin-top: 5vh
  display: inline-block
  position: relative
  width: 80px
  height: 80px

.lds-roller div 
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite
  transform-origin: 40px 40px

.lds-roller div:after 
  content: " "
  display: block
  position: absolute
  width: 8px
  height: 8px
  border-radius: 50%
  background: $pgb
  margin: -4px 0 0 -4px

.lds-roller div:nth-child(1) 
  animation-delay: -0.036s

.lds-roller div:nth-child(1):after 
  top: 63px
  left: 63px

.lds-roller div:nth-child(2) 
  animation-delay: -0.072s

.lds-roller div:nth-child(2):after 
  top: 68px
  left: 56px

.lds-roller div:nth-child(3) 
  animation-delay: -0.108s

.lds-roller div:nth-child(3):after 
  top: 71px
  left: 48px

.lds-roller div:nth-child(4) 
  animation-delay: -0.144s

.lds-roller div:nth-child(4):after 
  top: 72px
  left: 40px

.lds-roller div:nth-child(5) 
  animation-delay: -0.18s

.lds-roller div:nth-child(5):after 
  top: 71px
  left: 32px

.lds-roller div:nth-child(6) 
  animation-delay: -0.216s

.lds-roller div:nth-child(6):after 
  top: 68px
  left: 24px

.lds-roller div:nth-child(7) 
  animation-delay: -0.252s

.lds-roller div:nth-child(7):after 
  top: 63px
  left: 17px

.lds-roller div:nth-child(8) 
  animation-delay: -0.288s

.lds-roller div:nth-child(8):after 
  top: 56px
  left: 12px

@keyframes lds-roller 
  0% 
    transform: rotate(0deg)
  
  100% 
    transform: rotate(360deg)
  



// media queries
  
@media (min-width: 1441px)
  .loader-content,.container1,.container3
    max-width: 60% !important
  .container2
    max-width: 60% !important
  .showcase
    margin-top: 15vh !important
  .project-name
    left: -10% !important
@media (max-width: 1100px)
  .why-list, .avail-content
    font-size: 16px !important
  
  .showcase-firstline, .nigeria, .build
    font-size: 23px !important
  .showcase-element
    font-size: 30px !important
  .showcase
    margin-top: 22vh !important
  .front, .dev
    top: 10%
    font-size: 70px !important
  
@media (max-width: 1000px)
  .about-content
    font-size: 17px !important
  .portfolio-about
    margin-top: 19vh !important
  .container3
    max-width: 80% !important
  .loader-content
    max-width: 95% !important
    margin-right: auto
    margin-left: auto
  .loader-wt
    font-size: 45px !important
@media (max-width: 900px)
  .showcase
    margin-top: 17vh !important
  .container3
    max-width: 80% !important
  .showcase-element
    font-size: 50px !important
  .left-pics
    width: 70% !important
    left: 25% !important
  .front, .dev
    top: 0% !important
    font-size: 100px !important
  .dev
    left: -25% !important
  .left
    margin-top: 5vh !important
  .portfolio-about
    margin-top: 67vh !important
  .showcase-firstline, .nigeria, .build
    font-size: 30px !important
  
  .right
    padding-left: 0% !important
    // text-align: center !important
  .flex
    display: block !important
  .loader-wt
    font-size: 35px !important
  .bar-element
    
    font-size: 30px !important
  .bar-wrapper
    padding: 15px !important
  .just-a-second
    font-size: 23px !important
@media (max-width: 880px)
  .portfolio-about
    margin-top: 62vh !important


@media (max-width: 758px)
  .front
    font-size: 90px !important
    left: -42% !important
  .portfolio-about
    margin-top: 58vh !important
  .front, .dev
    top: 7vh !important
  .front
    // left: -40% !important
  .dev
    left: -25% !important
  .left-pics
    width: 65% !important
    left: 30% !important
    top: 30% !important
// @media (max-width: 758px)
//   .front
//     font-size: 90px !important
//     left: -40% !important
//   .dev
//     left: -25% !important
//     font-size: 90px !important

@media (max-width: 670px)
  .container3
    max-width: 85% !important
  .portfolio-about
    margin-top: 42vh !important
  .loader-wt
    font-size: 30px !important
  .bar-element
    font-size: 25px !important
  .just-a-second
    font-size: 20px !important
    margin-top: 7vh !important
    margin-bottom: 0vh !important
// @media (max-width: 758px)
//   .front
//     font-size: 90px !important
//     left: -42% !important
@media (max-width: 560px)
  .loader-content
    margin-top: 19vh !important
  .container1
    max-width: 90% !important
  .thank-content
    font-size: 25px !important
  .about-heading, .lang-heading, .tools-heading, .project-heading, .why-i, .avail-heading, .contact-heading
    font-size: 20px !important
  .about-content
    font-size: 16px !important
  .left-pics
    width: 70% !important
  .showcase-firstline, .nigeria, .build
    font-size: 25px !important
  .showcase-element
    font-size: 40px !important
  .front
    top: 12vh !important
  .dev
    left: -20% !important
@media (max-width: 500px)
  .email,.tel
    font-size: 16px !important
  .why-list, .avail-content
    font-size: 16px !important
    line-height: 2 !important
  .project-name
    font-size: 30px !important
    left: -5%
    top: 70% !important
  .project-img-wrap
    height: 40vh !important
  .grid
    
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important
  .know-icons-png
    
    width: 80px !important
    height: 80px !important
  .container3
    max-width: 90% !important
  .left-pics
    top: 20% !important
    width: 80% !important
    left: 20% !important
  .front,.dev
    top: 15vh !important
    font-size: 85px !important
  .dev
    top: 6vh !important
  .left
    margin-top: 10vh !important
  .showcase
    .container2
      .flex
        display: block !important
@media (max-width: 470px)
  .portfolio-about
    margin-top: 36vh !important
@media (max-width: 425px)
  
  .showcase-firstline, .nigeria, .build
    font-size: 22px !important
  .showcase-element
    font-size: 35px !important

@media (max-width: 400px)
  .project-img-wrap
    height: 35vh !important
  .about-content
    font-size: 16px !important
  .front, .dev
    font-size: 80px !important
  .portfolio-about
    margin-top: 31vh !important

@media (max-width: 380px)
  .email,.tel
    font-size: 16px !important
  .why-list, .avail-content
    font-size: 16px !important
  .bar-element
    font-size: 20px !important
  .just-a-second
    font-size: 18px !important
@media (max-width: 365px)
  .about-content
    font-size: 15px !important
  .front, .dev
    font-size: 75px !important
  .front
    left: -41% !important
  .dev1
    left: -6% !important
  .showcase-firstline, .nigeria, .build
    font-size: 18px !important
  .showcase-element
    font-size: 30px !important
  .btn1,.btn2
    font-size: 12px !important
    padding: 7px 12px !important